// Place all the styles related to the grams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Defines structure, color, and layout of grams appearing on the page */
.card {
  background-color: #ffff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
  margin-top: 40px;
  padding: 0;
}

/* Defines how the users handle will be displayed above each gram */
.handle {
  margin: 10px;
  color: #125688;
  font-weight: bold;
  font-size: 18px;
}

.gram-actions a {
  font-weight: bold;
  font-size: 16px;
  margin-right: 20px;
  margin-left: auto;
}